.homeSection {
  // padding-top: var(--p-xxxl);
  height: 100vh;
  // margin: var(--m-xxxl) auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 960px) {
    flex-direction: column-reverse;
    gap: var(--gap-xxl);
    justify-content: center;
  }
}
// .center {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   position: relative;
// }

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 380px;
  height: 380px;
  // margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 380px;
  height: 380px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 57%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}
